<% action = (type == :newuser) ? users_url : session_url %>
<% button_text = (type == :newuser) ? "Create Account" : "Sign In" %>

<form action="<%= action %>" method="POST">
  <%= render_auth_token %>
  <label>Email:
    <input type="text" value="<%= @user.email %>" name="user[email]">
  </label>
  <br>

  <label>Password:
    <input type="password" value="<%= @user.password %>" name="user[password]">
  </label>
  <br>

  <% if type == :newuser %>
  <label>Name:
    <input type="text" value="<%= @user.name %>" name="user[name]">
  </label>
  <br>
  <% end %>

  <input type="submit" value="<%= button_text %>">
</form>
