<div class="job-full">
  <h2 class="job-title">
    <%=job.escape("title")%>
  </h2>

  Posted by <%= job.escape("poster_name") %>
  <br>

  <div class="job-description">
    <%= job.escape("description") %>
  </div>

  <span class="time-ago">
    <%=timeAgo%>
  </span>
  <% if (Indoge.currentUser.isSignedIn() && Indoge.currentUser.id !== job.get("poster_id")) { %>
    <% var linkClass = saved ? "unsave-link" : "save-link"; %>
    <% var linkText = saved ? "unsave job" : "save job" %>
    - <a href="javascript:void(0)" class="<%=linkClass%>"><%=linkText%></a>
  <% } %>
