<div class="job-full">
  <h2 class="job-title">
    <%=job.escape("title")%>
  </h2>

  Posted by <%= job.escape("poster_name") %>
  <br>

  <div class="job-description">
    <%= job.escape("description").replace(/\n/g, '<br>') %>
  </div>

  <% if (job.escape("salary")) { %>
    <p> Salary: <%= job.escape("salary") %> treats per week </p>
  <% } %>

  <span class="time-ago">
    <%=timeAgo%>
  </span>
  <% if (Indoge.currentUser.isSignedIn()) { %>
    <% if (Indoge.currentUser.id !== job.get("poster_id")) { %>
      <% var linkClass = saved ? "unsave-link" : "save-link"; %>
      <% var linkText = saved ? "unsave job" : "save job" %>
      - <a href="javascript:void(0)" class="<%=linkClass%>"><%=linkText%></a>
    <% } else { %>
      - <a href="javascript:void(0)" class="edit-job-link">edit job</a>
      - <a href="javascript:void(0)" class="delete-job-link">delete job</a>
    <% } %>
  <% } %>
