<h2 class="job-title">
  <%=job.escape('title')%>
</h2>

<% if (job.attributes.poster) { %>
  Posted by <%= job.attributes.poster.name %>
  <br>
<% } %>

<div class="job-description">
  <%= job.escape('description') %>
</div>

<span class="time-ago">
  <%=timeAgo%>
</span>
<% if (!!job.attributes.poster) { %>
  <% if (Indoge.currentUser.isSignedIn() && Indoge.currentUser.id !== job.attributes.poster.id) { %>
    <% var linkClass = saved ? "unsave-link" : "save-link"; %>
    <% var linkText = saved ? "unsave job" : "save job" %>
    - <a href="#" class="<%=linkClass%>"><%=linkText%></a>
  <% } else { %>
    - <a href="#" class="delete-job-link">delete job</a>
  <% } %>
<% } %>
